body {
  font-family: "Montserrat";
  background-color: $back;
  color: $text;
  padding: 10px;
}
audio {
  width: 100%;
  height: 30px;
  padding: 5px;
}
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: $text;
}
/* Main page */
//header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  padding-right: 5px;
}
.header-logo-img {
  border-color: $text;
  border: 1px solid;
  border-radius: 50%;
}
.nav-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-right: 0px;
}
.score-text {
  font-size: 14px;
}
.page-link {
  color: $text;
  font-size: 15px;
}
.line {
  border-bottom: 3px solid $text;
}
//main
.main-page {
  padding-top: 20px;
}
.main-page-audio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-page-title {
  font-size: 18px;
}
.main-page-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.main-page-video iframe {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}
//footer
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text;
}

/* Quize Page */
.quize-page {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.quize-page-top {
  display: flex;
  justify-content: space-around;
  background-color: $miniback;
  padding: 20px;
}
.top-question {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 15px;
  padding-left: 5px;
}
.top-question-title {
  font-size: 30px;
}
.top-image {
  max-width: 140px;
  max-height: 140px;
  border-color: #e1a5a5;
  border: 3px solid;
  border-radius: 5%;
}
.center-right-image {
  width: 80%;
  min-width: 150px;
  min-height: 150px;
  padding-right: 0px;
  border-color: #e1a5a5;
  border: 3px solid;
  border-radius: 5%;
}
.quize-page-center {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  gap: 5px;
}
.center-left {
  background-color: $miniback;
  flex-basis: 180px;
}
.list-item {
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}
.item-list-left {
  padding-left: 25px;
}
.center-right {
  background-color: $miniback;
  flex: 1;
  font-size: 16px;
  padding: 10px;
}
.bottom-button {
  background-color: $miniback;
  width: 100%;
  padding: 13px;
  border-width: 4px;
  border-style: ridge;
  color: $text;
  cursor: pointer;
}
/* Result Page */
.result-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 40px;
}
.result-start-again {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.result-score {
  background-color: $miniback;
  flex: 1;
  font-size: 20px;
  padding: 40px;
}

.start-again {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $miniback;
  flex-basis: 200px;
  font-size: 20px;
  padding: 40px;
}
.a-again-btn {
  width: 50%;
}
.again-btn {
  background-color: $miniback;
  width: 100%;
  padding: 13px;
  border-width: 4px;
  border-style: ridge;
  color: $text;
  cursor: pointer;
}
.result-winner {
  //display: flex;
  flex-direction: column;
  background-color: $miniback;
  width: 50%;
  display: none;
}
/* Train Page */
.train-page {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
}
.one_block {
  width: 45%;
  min-width: 320px;
  background-color: $miniback;
  padding: 10px;
  height: fit-content;
}
.picture {
  width: 100%;
  height: 320px;
  border-color: $text;
  border: 3px solid;
  border-radius: 5%;
}
.description_image {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.name_bird {
  font-size: 20px;
}
